body {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Cabin', sans-serif;*/
  margin: 0; }

/*Pagina Een------------------------------------------------------------------------------------------*/
.navContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 0.5s;
  font-size: 3vh; }

.navigatie {
  width: 80%;
  height: 9%;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.headerEen h1 {
  padding: 0;
  margin: 0;
  color: white; }

.navigatie ul {
  width: 35%;
  padding: 0;
  margin: 0; }
  .navigatie ul li {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none; }
    .navigatie ul li a {
      padding: 0;
      margin: 0.5%;
      text-decoration: none;
      color: white;
      cursor: pointer; }
    .navigatie ul li a:hover {
      text-decoration: underline; }

.navClass {
  width: 100%;
  height: 10%;
  transition: 0.75s;
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed; }

.container {
  width: 100%;
  height: 100vh;
  color: white;
  background: url(img/achtergrond.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

h2.containerheaderTwee {
  padding: 0;
  margin: 0;
  font-size: 15vh; }

.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.arrow {
  width: 50px;
  height: 50px;
  border: solid 2px white;
  border-radius: 100%;
  font-size: 1.3rem;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.containerMain p {
  line-height: 1.68;
  font-size: 3vh; }

/*Pagina twee-------------------------------------------------------------------------------------------*/
.containerTwee {
  width: 100%;
  height: 75vh;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh; }

.linkerHelft {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .linkerHelft main {
    width: 70%;
    height: 70%;
    text-align: center; }
    .linkerHelft main h2 {
      border-bottom: dashed 1px white;
      padding: 1.5%;
      margin: 0; }

.rechterhelft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .rechterhelft main {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .rechterhelft main h2 {
      border-bottom: dashed 1px white;
      padding: 1.5%;
      margin: 0; }

/*Pagina Drie-------------------------------------------------------------------------------------------*/
.containerDrie {
  width: 100%;
  height: 25vh;
  color: #42dca3;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5vh; }

.skillIcon {
  padding: 2.5%;
  margin: 0 1%;
  font-size: 10vh;
  text-align: center; }
  .skillIcon p {
    margin: 0;
    font-size: 1.5rem !important;
    text-align: center; }

/*Pagina Vier-------------------------------------------------------------------------------------------*/
.containerVier {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  position: relative; }
  .containerVier .wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    font-size: 5vh; }
    .containerVier .wrap .slider {
      width: 100%;
      height: 100%; }
      .containerVier .wrap .slider .slide1 {
        width: 100%;
        height: 100%;
        color: black;
        background: url("img/img1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
      .containerVier .wrap .slider .slide2 {
        width: 100%;
        height: 100%;
        color: white;
        background: url("img/img2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
      .containerVier .wrap .slider .slide3 {
        width: 100%;
        height: 100%;
        color: white;
        background: url("img/trafficlights.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
    .containerVier .wrap .sliderArrow {
      width: 0;
      height: 0;
      border-style: solid;
      cursor: pointer;
      position: absolute;
      top: 50%; }
    .containerVier .wrap #arrow-left {
      border-width: 30px 40px 30px 0;
      border-color: transparent #ffffff transparent transparent;
      left: 0;
      margin-left: 5%; }
    .containerVier .wrap #arrow-right {
      border-width: 30px 0 30px 40px;
      border-color: transparent transparent transparent #ffffff;
      right: 0;
      margin-right: 5%; }

/*Pagina vijf------------------------------------------------------------------------------------------*/
.containerVijf {
  width: 100%;
  height: 90vh;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  text-align: center; }
  .containerVijf main {
    width: 45%;
    height: 50%; }
  .containerVijf p {
    padding: 1%; }
  .containerVijf ul li {
    display: inline;
    list-style: none; }
    .containerVijf ul li a {
      color: #42dca3;
      padding: .5rem 1rem;
      border: 1px solid #42dca3;
      margin: 1%;
      text-decoration: none;
      font-size: 4vh;
      transition: 0.3s; }
      .containerVijf ul li a:hover {
        color: black;
        background-color: #42dca3; }

.fa-github, .fa-google-plus-g {
  margin: 0 1%; }

footer {
  width: 100%;
  height: 10vh;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
