$backgroundColor: black;

body {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Cabin', sans-serif;*/
  margin: 0;
}

/*Pagina Een------------------------------------------------------------------------------------------*/

.navContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 0.5s;
  font-size:3vh;
}

.navigatie {
  width: 80%;
  height: 9%;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.headerEen h1 {
  padding: 0;
  margin: 0;
  color: white;
}

.navigatie ul {
  width: 25%;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
    a {
      padding: 0;
      margin: 0.5%;
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
  }
}

.navClass {
  width: 100%;
  height: 10%;
  transition: 0.75s;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  position: fixed;
}

.container {
  width: 100%;
  height: 100vh;
  color: white;
  background: url(img/achtergrond.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2.containerheaderTwee {
  padding: 0;
  margin: 0;
  font-size: 15vh;
}

.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 50px;
  height: 50px;
  border: solid 2px white;
  border-radius: 100%;
  font-size: 1.3rem;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.containerMain p {
  line-height: 1.68;
  font-size: 3vh;
}

/*Pagina twee-------------------------------------------------------------------------------------------*/

.containerTwee {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: $backgroundColor;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.linkerHelft {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    width: 70%;
    height: 75%;
    text-align: center;
    h2 {
      border-bottom: dashed 1px white;
      padding: 1.5%;
      margin: 0;
    }
  }
}

.rechterhelft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  main {
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      border-bottom: dashed 1px white;
      padding: 1.5%;
      margin: 0;
    }
  }
}

/*Pagina Drie-------------------------------------------------------------------------------------------*/

.containerDrie {
  width: 100%;
  height: 25vh;
  color: #42dca3;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skillIcon {
  padding: 2.5%;
  margin: 0 1%;
  font-size: 15vh;
  text-align: center;
  p {
    margin: 0;
    font-size: 1.5rem !important;
    text-align: center;
  }
}

/*Pagina Vier-------------------------------------------------------------------------------------------*/

.containerVier {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  h2 {
    width: 100%;
    height: 10%;
    padding: 0;
    margin-top: 5%;
    text-align: center;
  }
  main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .projectImg {
    width: 35vw;
    height: 35vh;
    margin: 1%;
  }

}

/*Pagina vijf------------------------------------------------------------------------------------------*/

.containerVijf {
  width: 100%;
  height: 90vh;
  color: white;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  text-align: center;
  main {
    width: 45%;
    height: 50%;
  }
  p {
    padding: 1%;
  }
  ul li {
    display: inline;
    list-style: none;
    a {
      color: #42dca3;
      padding: .5rem 1rem;
      border: 1px solid #42dca3;
      margin: 1%;
      text-decoration: none;
      font-size: 4vh;
      transition: 0.3s;
      &:hover {
        color: $backgroundColor;
        background-color: #42dca3;
      }
    }
  }
}

.fa-github, .fa-google-plus-g {
  margin: 0 1%;
}

footer {
  width: 100%;
  height: 10vh;
  color: white;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
}

